/* 헤더 영역 */
header {
  width: 100%;
  position: absolute;
  z-index: 2;
  border-bottom: 1px solid #dfdfdf;
}
@media screen and (min-width:769px){
  header:hover{
  background-color: white;
}
}
header div.wrap {
}

/* 내비게이션 영역 */
header div.wrap nav {
  align-items: center;
  height: 90px;
}

header div.wrap nav div.flex {
}
header div.wrap nav div.flex-between {
}

/* 로고 스타일 */
header div.wrap nav h1 {
}
header div.wrap nav h1 a {
}
header div.wrap nav h1 a img {
}

/* 메뉴 스타일 */
header div.wrap nav ul.gnb {
  height: 100%;
}
header div.wrap nav ul.gnb li {
}
header div.wrap nav ul.gnb li a {
  padding: 0 50px;
  height: calc(100% - 3px);
  display: flex;
  align-items: center;
  transition: 0.5s;
  border-bottom: 4px solid transparent;
}
header:hover div.wrap nav ul.gnb li a{
  color:black;
}
header div.wrap nav ul.gnb li a:hover{
  border-bottom: 4px solid #0598db;
  color: #0598db;
}
header div.wrap nav ul.submenu {
  display: none;
  position: absolute;
  top: 120px;
}
header div.wrap nav ul.submenu li {
}
header div.wrap nav ul.submenu li a {
  
  color: black;
}

/* 기타 링크 스타일 */
header div.wrap nav ul.etc {
}
header div.wrap nav ul.etc li {
  position: relative;
}
header div.wrap nav ul.etc li:nth-child(1)::after{
  content:"●";
  font-size: 5px;
  position: absolute;
  right: -2px;
  top: calc(50% - 2px);
  color: rgba(255,255,255,0.7);
}
header:hover div.wrap nav ul.etc li:nth-child(1)::after{
  color:gray;
}
header div.wrap nav ul.etc li a {
  padding: 0 15px;
}
header:hover div.wrap nav ul.etc li a{
  color:black;
  transition: 0.3s;
}